# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/
ENV/

# IDEs/Editors
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store

# DB / Temp files
test_store.json
*.log

#pesonal learning files
learning_progress.md

#testing files
tests/

.env